bin/
obj/
bin-debug/
obj-debug/
.vscode/
.vs/
*/bin/
*/obj/
DockerDebug/
DockerRelease/
DockerReleaseStage/
*.user
*.suo
*.sln.docstates
project.lock.json
project.fragment.lock.json
artifacts/
node_modules/