name: Deploy

on:
  push:
    branches:
      - main
      - feature/pipeline

concurrency: deploy

jobs:
  deploy-docker:
    name: Deploy Docker
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker
        uses: docker/setup-buildx-action@v1

      - name: Build Docker images dynamically
        run: |
          for project in $(find . -name "Dockerfile" -exec dirname {} \;); do
            image_name=$(basename "$project")
            echo "Building image: ${image_name,,}:${{ github.sha }}"
            docker build -t "myschedule.azurecr.io/${image_name,,}:${{ github.sha }}" -f "$project/Dockerfile" .
          done

      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: myschedule.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Push Docker images to Azure Container Registry
        run: |
          for project in $(find . -name "Dockerfile" -exec dirname {} \;); do
            image_name=$(basename "$project")
            docker push "myschedule.azurecr.io/${image_name,,}:${{ github.sha }}"
          done

  deploy-k8s:
    name: Deploy K8s
    runs-on: ubuntu-latest
    needs: deploy-docker

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Set up Azure Kubernetes CLI
        uses: azure/aks-set-context@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          cluster-name: "my_schedule"
          resource-group: "my_schedule_group"

      - name: Setup kubectl
        id: install-kubectl
        uses: azure/setup-kubectl@v3

      - name: Replace IMAGE_TAG in manifest
        run: |
          sed -i 's|${IMAGE_TAG}|myschedule.azurecr.io/my-schedule.apigateway/${{ github.sha }}|' .k8s/my-schedule-apigateway.yaml

      - name: Deploy to AKS
        id: deploy-aks
        run: |
          kubectl apply -f .k8s/my-schedule-apigateway.yaml --record

      # - name: Deploy to AKS
      #   id: deploy-aks
      #   uses: Azure/k8s-deploy@v4
      #   with:
      #     namespace: "default"
      #     manifests: |
      #       .k8s/my-schedule-apigateway.yaml
      #     images: "myschedule.azurecr.io/my-schedule.apigateway/${{ github.sha }}"
      #     pull-images: true
