name: Deploy

on:
  push:
    branches:
      - main
      - develop

concurrency: deploy

jobs:
  deploy-docker:
    name: Deploy Docker
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker
        uses: docker/setup-buildx-action@v1

      - name: Build Docker images dynamically
        run: |
          for project in $(find . -name "Dockerfile" -exec dirname {} \;); do
            image_name=$(basename "$project")
            echo "Building image: ${image_name,,}:1.0"
            docker build -t "myschedule.azurecr.io/${image_name,,}:1.0" -f "$project/Dockerfile" .
          done

      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: myschedule.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Push Docker images to Azure Container Registry
        run: |
          for project in $(find . -name "Dockerfile" -exec dirname {} \;); do
            image_name=$(basename "$project")
            docker push "myschedule.azurecr.io/${image_name,,}:1.0"
          done
